html body {
  height: 100vh;
  min-height: 100vh;
  font-family: Noto Sans, sans-serif;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: rgba(229, 162, 40) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}

.btn-xs {
  padding: .15rem .15rem !important;
  font-size: .875rem;
  width: 28px;
  height: 24px;
}

.bg-grey {
  background: #f6f6f6;
}

.accordion-button::after {
  background-image: url(../img/chevron.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/chevron.svg);
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: #212529;
  background-color: rgba(229, 162, 40,.25) !important;
}

.home-bg-img{
  background-image: url(../img/undraw_source_code.svg);
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: bottom;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-toggler-user{
  padding: .25rem .25rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: box-shadow .15s ease-in-out;
}

.icon-user {
  background-image: url(../img/user-regular.svg);
}

.icon-copy {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  padding: 0;
  background-image: url(../img/copy-regular.svg);
}

.icon-user:hover,
.icon-user:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(125%) contrast(77%);
}

.icon-user-logged {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(125%) contrast(77%);
}

svg:hover {
  fill: #e5a228 !important;
}

.btn-warning {
  background: #e5a228 !important;
}

.btn-outline-warning {
  color: #e5a228 !important;
  border-color: rgb(229, 162, 40) !important;;
}

.btn-outline-warning:hover {
  color:#212529 !important;
  background-color: #e5a228 !important;;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: 0 0 0 0.15rem rgba(229, 162, 40,.25)
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem rgba(229, 162, 40,.25);
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background:#e5a228;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}

.pagination-sm .page-link {
  color: #212529 !important;
  background: #e5a228 !important;
  border-color: #212529;
}

.page-item.active .page-link {
  background:  #212529 !important;
  color: #f8f9fa !important;
  border-color: #212529;
}

.pagination-sm .page-link:hover {
  background:  #212529 !important;
  color: #e5a228 !important;
}

.pagination-sm .disabled .page-link   {
  color: #6C757D !important;
  background-color:#C0C0C0 !important;
  border-color: #212529;
}

/*!
 * StackOverflow.com light style
 *
 * @stackoverflow/stacks v0.56.0
 * https://github.com/StackExchange/Stacks
 */

 .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #2f3337;
    background: #f6f6f6;
  }
  
  .hljs-comment {
    color: #656e77;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-meta-keyword,
  .hljs-doctag,
  .hljs-section,
  .hljs-selector-class,
  .hljs-meta,
  .hljs-selector-pseudo,
  .hljs-attr {
    color: #015692;
  }
  
  .hljs-attribute {
    color: #803378;
  }
  
  .hljs-name,
  .hljs-type,
  .hljs-number,
  .hljs-selector-id,
  .hljs-quote,
  .hljs-template-tag,
  .hljs-built_in,
  .hljs-title,
  .hljs-literal {
    color: #b75501;
  }
  
  .hljs-string,
  .hljs-regexp,
  .hljs-symbol,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-link,
  .hljs-selector-attr,
  .hljs-meta-string {
    color: #54790d;
  }
  
  .hljs-bullet,
  .hljs-code {
    color: #535a60;
  }
  
  .hljs-deletion {
    color: #c02d2e;
  }
  
  .hljs-addition {
    color: #2f6f44;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  